/* Галерея */
.gallery {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.video-thumb img {
  width: 200px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s;
}

.video-thumb img:hover {
  transform: scale(1.05);
}

/* Модалка */
.modal {
  display: none; 
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
